@if (user) {
<div class="container shadow-none bg-body-tertiary rounded p-3 mt-5">
  <div class="row p-2">
    <div class="col-12 col-md-12 col-sm-12 text-center">
      <img class="user-avatar" [src]="getAvatarByGender(user.gender)" alt="user-avatar" />
      <h4>{{user.name}}</h4>
      <h5>{{user.membershipId}}</h5>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-6">Username</div>
        <div class="col-6">{{user.username}}</div>
      </div>
      <div class="row">
        <div class="col-6">Gender</div>
        <div class="col-6">{{user.gender | titlecase}}</div>
      </div>
      <div class="row">
        <div class="col-6">Home Address</div>
        <div class="col-6">{{user.address}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-6">Contact no</div>
        <div class="col-6">+91-{{user.mobile}}</div>
      </div>
      <div class="row">
        <div class="col-6">Alternate no</div>
        @if(user.altMobile){
        <div class="col-6">+91-{{user.altMobile}}</div>
        }
      </div>
      <div class="row">
        <div class="col-6">Email Address</div>
        @if(user.emailAddress){
        <div class="col-6">{{user.emailAddress}}</div>
        }
      </div>
      <div class="row">
        <div class="col-6">Start Date</div>
        <div class="col-6">{{user.createdDate}}</div>
      </div>
      <div class="row">
        <div class="col-6">Status</div>
        <div class="col-6"><span [ngClass]="getUserStatusBg(user.status)"
            class="badge rounded-pill">{{user.status}}</span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <button [routerLink]="['./edit']" class="btn btn-primary">Edit</button>
          <button (click)="deleteUser(user.userId)" class="btn btn-primary">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
}