<div class="container shadow-none bg-body-tertiary rounded p-3 mt-5">
  <div class="row p-2">
    <div class="col-12 col-md-12 col-sm-12 text-center">
      <img class="account-avatar" src="assets/icons/account.png" alt="account-icon" />
      <h4>{{account.accountName}}</h4>
      <h5>{{account.amount}}</h5>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-6">Start Date</div>
        <div class="col-6">{{account.startDate}}</div>
      </div>
      <div class="row">
        <div class="col-6">End Date</div>
        <div class="col-6">{{account.endDate}}</div>
      </div>
      <div class="row">
        <div class="col-6">Due Date</div>
        <div class="col-6">{{account.dueDate}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-6">Owner</div>
        <div class="col-6">{{account.ownerName}}</div>
      </div>
      <div class="row">
        <div class="col-6">Created Date</div>
        <div class="col-6">{{account.createdDate}}</div>
      </div>
      <div class="row">
        <div class="col-6">Status</div>
        <div class="col-6"><span [ngClass]="getAccountStatusBg(account.status)"
            class="badge rounded-pill">{{account.status}}</span></div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container mt-5 rounded">
    <div class="row">
      <div class="col-12 col-md-4">
        <div [routerLink]="['./payments']" class="stat-box monthly-collection rounded-corner">
          <h3>This month</h3>
          <p>$1,500</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div [routerLink]="['./payments']" class="stat-box pending-collection rounded-corner">
          <h3>Overall Pending</h3>
          <p>$2,000</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div [routerLink]="['./payments']" class="stat-box total-collection rounded-corner">
          <h3>Overall Collection</h3>
          <p>$10,000</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <app-list-users></app-list-users>
</section>