<div class="container mt-5">
  <h2>Accounts</h2>
  <hr/>
  <div class="row">
    <div class="col text-end">
      <button [routerLink]="['../account/create']" class="btn btn-primary">Add account</button>
    </div>
  </div>
  <div class="row mt-5">
    @for(account of accounts; track account.accountId){
    <div [routerLink]="['./account/1']" class="col-12 col-sm-6 col-md-3 mb-3">
      <div class="account-card">
        <div class="row">
          <div class="col-12 text-end">
            <span [ngClass]="getAccountStatusBg(account.status)" class="badge rounded-pill">{{account.status}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <img class="account-avatar" src="assets/icons/account.png" alt="account-avatar" />
            <h5>{{account.accountName}}</h5>
            <h4>{{account.amount}}</h4>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <span><strong>Start Date</strong> {{account.startDate}}</span>
          </div>
        </div>
        @if(account.endDate){
          <div class="row">
            <div class="col">
              <span><strong>End Date:</strong> {{account.endDate}}</span>
            </div>
          </div>
        }
        @if(account.dueDate){
          <div class="row">
            <div class="col">
              <span><strong>Due on:</strong> {{account.dueDate}}</span>
            </div>
          </div>
        }
      </div>
    </div>
    }
  </div>
</div>