<div class="container mt-5">
  <h2>Organization Registration</h2>
  <form [formGroup]="formGroup">
      <div class="form-group">
        <label for="orgName">Organization Name</label>
        <input type="text" class="form-control" id="orgName" formControlName="orgName" placeholder="Enter organization name" />
      </div>
      <div class="form-group">
        <label for="orgRegNo">Registration Number</label>
        <input type="text" class="form-control" id="orgRegNo" formControlName="orgRegNo" placeholder="Enter registration number" />
      </div>
      <div class="form-group">
        <label for="orgAddress">Organization Address</label>
        <input type="text" class="form-control" id="orgAddress" formControlName="orgAddress" placeholder="Enter organization address" />
      </div>
      <div class="form-group">
        <label for="orgEmail">Email address</label>
        <input type="email" class="form-control" id="orgEmail" formControlName="orgEmail" placeholder="Enter email address" />
      </div>
      <div class="form-group">
        <label for="orgMobile">Mobile Number</label>
        <input type="tel" class="form-control" id="orgMobile" formControlName="orgMobile" placeholder="Enter mobile number" />
      </div>
      <div class="form-group">
        <label for="orgAltMobile">Alternative Mobile Number</label>
        <input type="tel" class="form-control" id="orgAltMobile" formControlName="orgAltMobile" placeholder="Enter alternative number" />
      </div>
      <button type="submit" class="btn btn-primary mt-2" (click)="submit()">Submit</button>
    </form>
</div>