.user-icon {
  background-color: #1f87d5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.transaction {
    height: 60px;
}
