<div class="container mt-5">
  <h2>Transactions</h2>
  <hr />
  <div class="row transaction border border-success mb-2 rounded">
    <div class="col-lg-2 col-sm-2 hstack gap-3">
      <div class="user-icon">MS</div>
      <div class="col">Mohammed Shafi K K</div>
    </div>
    <div class="col-lg-2 col-sm-2 align-content-center">Monthly Payments</div>
    <div class="col-lg-2 col-sm-2 align-content-center">January 2024</div>
    <div class="col-lg-2 col-sm-2 align-content-center">Rs.400</div>
    <div class="col-lg-2 col-sm-2 align-content-center">
      <span class="badge text-bg-success">Success</span>
    </div>
  </div>
  <div class="row transaction border border-warning mb-2 rounded">
    <div class="col hstack gap-3">
      <div class="user-icon">MS</div>
      <div class="col">Mohammed Shafi K K</div>
    </div>
    <div class="col align-content-center">Monthly Payments</div>
    <div class="col align-content-center">January 2024</div>
    <div class="col align-content-center">Rs.400</div>
    <div class="col align-content-center">
      <span class="badge text-bg-warning">Pending</span>
    </div>
  </div>
  <div class="row transaction border border-danger mb-2 rounded">
    <div class="col hstack gap-3">
      <div class="user-icon">MS</div>
      <div class="col">Mohammed Shafi K K</div>
    </div>
    <div class="col align-content-center">Monthly Payments</div>
    <div class="col align-content-center">January 2024</div>
    <div class="col align-content-center">Rs.400</div>
    <div class="col align-content-center">
      <span class="badge text-bg-danger">Failed</span>
    </div>
  </div>
</div>